:root{
    --primary-color: #003476;
    --secondary-color: #b4d2f7;
    --header-size: 4rem;
    --font: 1.8rem;
    --main-width: 100vw;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

header{
    width: var(--main-width);
    height: 15vh;
    background-color: var(--primary-color);
}

main{
    width: var(--main-width);
    height: 70vh;
    font-size: 1.8rem;
}

h1{
    font-size: var(--header-size);
    color: var(--primary-color);
}

footer{
    width: var(--main-width);
    height: 15vh;
    background-color: var(--secondary-color);
}